[2017-06-26 09:26] 9meo opened #1 "ํYour program is too slow."
You have to create init method to load model instead load every time in tokenize
[https://github.com/rkcosmos/deepcut/blob/master/deepcut/deepcut.py](url)
def tokenize(text):

[2017-06-27 03:05] titipata commented on #1
I solve it in https://github.com/rkcosmos/deepcut/pull/2. Not sure if the PR will be merged soon or not.

[2017-06-27 03:11] rkcosmos commented on #1
thanks, will take a look today evening.

[2017-06-27 04:12] 9meo commented on #1
I found that your accuracy is character level and I already test word level with Inter-BEST test set.
The results are https://goo.gl/8EUu5z.

[2017-06-27 14:58] rkcosmos commented on #1
Can I take a look at Inter-BEST test set and your code for generating these result?

[2017-06-27 16:20] titipata commented on #1
+1 Yeah, having a test script for validating performance would be great.

[2017-06-28 01:46] 9meo commented on #1
could I take your email address?

[2017-06-28 03:37] rkcosmos commented on #1
r.(my surname) (at) gmail.com

[2017-06-28 12:32] #1 closed

[2017-06-28 20:26] titipata opened #5 "Instruction to install from repository for the latest version"
Maybe you can allow users to install directly from repository also. Something like following:

Install using `pip` for stable release

[code]

Latest release

[code]

We can change to the stable one later. It's now in active development so I think it makes sense to have this instruction.

[2017-06-29 02:17] rkcosmos commented on #5
Agreed, done!

[2017-06-29 02:17] #5 closed

[2017-06-29 07:26] titipata opened #6 "Remove duplicated files"
There are 3 large folders/files in the repository as follows:

- `package`
- `weight`
- `deepcut/weight`

Is there a way that we could reduce these files to only one place somehow?

[2017-06-29 13:11] #6 closed

[2017-06-30 01:57] billy800413 opened #8 "some question about deepcut"
First, thanks for your contribution about Thai NLP. The performance of deepcut is so incredible. It makes me  curious what is the trainning data about deepcut.

[2017-06-30 02:39] rkcosmos commented on #8
It's NECTEC's BEST corpus. http://thailang.nectec.or.th/downloadcenter/index.php?option=com_docman&task=cat_view&gid=36&Itemid=59

[2017-06-30 20:38] titipata opened #9 "Using Keras fit_generator to train the model"
It might be useful to use `generator`, see example [here](https://github.com/fchollet/keras/issues/1627) to train the model.

We should also add `callback_list` while training e.g. `ModelCheckpoint`, `EarlyStopping`, `ReduceLROnPlateau` to `fit_generator` function in order to save the best model (divide training set into training and development set).

I can work on it and send the PR over the wee

[2017-07-01 02:53] sura1997 opened #10 "Semi-supervised training"
Curious as to what's your plan to further enhance this by doing semi-supervised training. Anything specific you have in mind already? Any help that might be needed?

[2017-07-01 08:08] rkcosmos commented on #9
That would be good. We will need to train bigger input when doing semi-supervised learning, using fit_generator is a good idea.

[2017-07-01 08:18] rkcosmos commented on #10
The steps are as follow,

1. prepare new big unlabeled dataset preferably with diverse content. This can be done by web crawling or just copy and paste any Thai text and put them in .txt file.
2. tokenize this dataset with our program and treat this dataset as pseudo-labeled.
3. combine BEST corpus with pseudo-label dataset and train model again. This time, neural network will learn something new

[2017-07-01 10:49] rkcosmos commented on #9
I'm updating a small change and creating reproducible_training notebook, pls fork after my update to avoid confusion.

[2017-07-01 12:00] rkcosmos commented on #9
ok, done

[2017-07-01 12:36] sura1997 commented on #10
On step one. Have you done that with Thai Wikipedia yet? I downloaded it and tokenized to do something else with my project. I was using another tokenizer which was not really accurate. I can try again with deepcut if you haven't done so.

Also for step 2 and 3, I'm not clear on how to that process will help. Since deepcut has about 90% similarity in tokenization result with BEST, right? Unless, w

[2017-07-01 16:08] titipata commented on #9
@rkcosmos I don't see the update. Did you push the notebook up?

[2017-07-01 16:32] rkcosmos commented on #9
notebook is still running on my local computer, but other small changes are done. So you can implement fit_generator and call_back on top of current code. I think fit_generator can be structured similar to this (https://github.com/rkcosmos/Breast-Cancer/blob/master/src/inception1_simplified.ipynb). We would need a function like 'organise training set section' to separate train and test folder. The

[2017-07-01 16:43] rkcosmos commented on #10
I would love to get data on Thai wikipedia. How large is the file? If it's not too large, pls send it to r.kittinaradorn (at) gmail.com.

The reason behind step 2 and 3 is that hidden layer of neural networks learn not only to match input with label but also other things about data as well. By feeding the networks proper amount of diverse data even with imperfect label, the network can be more cle

[2017-07-01 17:02] sura1997 commented on #10
Let me run again using deepcut and see how big the data is. All I remember is that it took many hours to process. What format should I generate the file with? Using pipe as the word delimiter? What about sentence delimiter? Space for that like "| |"? If you can give me a sample file, I can make sure my output can be easily used in your training.

[2017-07-01 17:42] titipata commented on #9
Yeah, will do that! So I'll wait to see the code and will separate the training and testing to separate folder for you. I'll also implement generator class.

[2017-07-02 00:50] rkcosmos commented on #10
[article_00001.txt](https://github.com/rkcosmos/deepcut/files/1117545/article_00001.txt)

this is a sample training file from BEST corpus, please ignore any tag like < NE >...< /NE > or < AB >...< /AB > since deepcut cannot generate these tag yet.

[2017-07-02 15:08] titipata commented on #10
There is Thai Wikipedia link in this repo: https://github.com/kobkrit/nlp_thai_resources. The unzipped size of the file is 206 MB. There are few more tokenized dataset from `wannaphongcom` but released under Creative Commons license, not sure if we can use them freely.

[2017-07-02 18:45] sura1997 commented on #10
For Thai Wikipedia, it's a single 1.5GB xml file that contains meta data in xml and text in wiki format. If you already have a code to clean that up all up to get to the actual corpus, please let me know, so I don't need to run mine anymore. If you don't have that, I can help generate the BEST-like format text file from that wiki xml.

For the licensing concerns, I am also unclear about the licens

[2017-07-02 19:10] titipata commented on #10
@sura1997, I vote that we want to have MIT license and not bound to others License. I guess @rkcosmos can decide on that. Hopefully, he's on for MIT too :P

I can explore the wikipedia dataset and update with you here later on. **Note** that if we use other method to tokenize it, we still have to check the data quality of the corpus.

[2017-07-02 19:32] sura1997 commented on #10
Ideally, yes, we want to have only MIT license for both code and data in this project. If that's possible, it is the most open license we can give to people to use. However, I'm not sure whether that is technically feasible if we still use some of the CC-BY-SA corpora. For example, if we use Wikipedia corpus, their license has it that any derived work has to be licensed by the same CC-BY-SA licens

[2017-07-03 02:00] korakot commented on #10
I think we can use MIT license for the data. This fall under the 'Fair Use' of the corpora.
http://fairuse.stanford.edu/overview/fair-use/four-factors/

The 4 criteria of Fair Use are
1. the purpose and character of your use
- Transformation, adding new meaning
- Value added, new insight and understanding
- Same with parody and literature criticism

2. The Nature of the Copyrighted Work
- The corp

[2017-07-03 02:28] sura1997 commented on #10
I don't think we will need to go to court anytime soon :) I just see that deepcut has a great potential even for commercial use which will help accelerate the whole Thai NLP movement both on academic and commercial sides (I think it is currently lacking as major research has been locked up in "not for commercial use" mandated by NECTEC license). If we use the Fair Use, then we (or the companies wh

[2017-07-03 02:37] korakot commented on #10
#4 consider the commercial impact to the copyright work. (Eg. the corpora)

Even if a company use deepcut in their commercial activity, it won't impact the 'sale' of the corpora at all. The corpora isn't even on sale. And the new product is totally unrelated to the corpora business.

I looked into fastText, they decide on the safe side and consider their model as a derivative work of a CC-BY-SA da

[2017-07-03 02:59] titipata commented on #10
@sura1997 actually bring up the good point. It has some potential to use for commercial use. I think we're definitely fine with MIT license as a repository. However, I'm not sure if NECTEC can claim anything if someone bring `deepcut` for the commercial usage.

But yeah, I agree with @korakot that the sale will not be coming from dataset itself but model derived from the dataset. Therefore, that s

[2017-07-03 03:25] rkcosmos commented on #10
The code will remain with MIT license as everyone suggest. As for model data, I would love it to be MIT or at very least CC-BY-SA. So everyone both from academic and commercial side can participate to accelerate the whole research. I think we can politely ask NECTEC to join the project as they have already contributed their corpus. This would create win-win-win situation where everyone should be h

[2017-07-03 03:38] korakot commented on #10
Sure. I will start the talk with them.
I don't know how fast/responsive they will be.

[2017-07-03 03:41] sura1997 commented on #10
I thought @titipata will look into re-formatting Thai Wikipedia into BEST format. If that is not started yet, no worries, I already have the code to do that. I just need to add deepcut tokenization to it and put the pipes. I can do that too later this week if we are not in a hurry. I just have another project deadline early this week :)

[2017-07-03 05:26] titipata commented on #10
@korakot, that sounds great. It's about time to let this NLP development in corporation hand not just in academic world :)

@sura1997, that perfect! Just to make sure, you can run deepcut model on Wikipedia. However, you cannot directly add them as a training set tho cause the model won't improve by seeing what they just tokenize. I think we should start with the error we made on testing set in BE

[2017-07-03 05:31] korakot commented on #10
In addition to Wikipedia, there's this HSE corpus.
http://web-corpora.net/ThaiCorpus/search/

It includes both Wikipedia and other texts not restricted by copyright(mostly news sources). You can try and have a look.

[2017-07-03 05:57] korakot commented on #10
I have just ask Dr.Chai who's the director of IT research department.

He is happy too cooperate with us. But he confirmed we don't need to ask Nectec for permission. The model we train belong to us. We can release it in whatever license we choose.

[2017-07-03 06:54] titipata commented on #10
@korakot, that's a great news! I'm glad that this works out pretty easily!

[2017-07-03 06:58] rkcosmos commented on #10
My best explanation of how semi-supervised learnings work without manual work

[semi-supervised.pdf](https://github.com/rkcosmos/deepcut/files/1118671/semi-supervised.pdf)
[semi-supervised2.pdf](https://github.com/rkcosmos/deepcut/files/1118670/semi-supervised2.pdf)

[2017-07-03 07:06] titipata commented on #9
I think I'll close the issue for now and we can take into account the `fit_generator` later once the training data is much larger (e.g. we want to incorporate Wikipedia). The version that we have currently using `fit` is pretty easy to read.

[2017-07-03 07:06] #9 closed

[2017-07-03 08:15] titipata commented on #10
So I did some error analysis on the test set to see the error `deepcut` makes. I put the snippet and result I found below.

[code]

Here are sample texts that the model tokenize them wrong:

[code]

Seems like most of the errors are from name entity with space bar. Once model makes an error with name entity, it will make errors again too so the performance decreases when we remove `<NE>` tag.

[2017-07-03 09:42] rkcosmos commented on #10
`)ปิแอร์` case is very strange, I expect neuralnet to be able to learn such a simple rule like starting new word every time it see ')'. I will create another weight with name_entity and abbreviation removed.

[2017-07-03 09:54] #8 closed

[2017-07-03 10:05] titipata commented on #10
Yeah, that's what I think the model will learn also. Most of the time, the model tries to predict ( and space as a new word. However, ปิแอร์ might be an exception in this particular case. Note that name entity always comes with spave, it might be hard to get the prediction right tho.

I'll spend some time tomorrow write down code to check these error systematically to see what's the current model

[2017-07-03 13:56] sura1997 commented on #10
My understanding from what you are saying is the model learns from corpus with proper text which rarely has ) without a space after it. We should do preprocessing on the input, right?

If we can do that, we might want to add some preprocessing on a few other things like the following cases, maybe? Not sure we want to support that or it's a responsibility of the app to do basic cleaning. If we don'

[2017-07-03 16:03] sura1997 commented on #10
@rkcosmos thanks for the visualization on your proposed semi-supervised learning process.

I'm not sure whether I understand your explanation correctly but I will try my best to explain my understanding here.

Let's say we have a labeled corpus (e.g. BEST) and it happens to be clustered with squares mostly in quad I and IV, and triangles mostly in quad II and III. Then our model is trained, so the

[2017-07-03 18:21] titipata commented on #10
@sura1997 Yeah, deepcut tries to cut name entity with space separately e.g. `จอห์นนี่ เดปป์` to `[จอห์นนี่, เดปป์]` where this can be Thai words also. That's why the testing performance is lower in [this notebook](https://github.com/rkcosmos/deepcut/blob/master/Research-Notebook/reproducible_training_v0.5..1_without_name_entity_abbreviation.ipynb).

I'm trying to say that we should take a look at

[2017-07-03 23:15] korakot commented on #10
For extra training dataset, the Thai National Corpus can be used with respect to a specific phrase.
It's a resource aimed for linguists, so no download or API access.
We can do search though its online query, or direct URL access like this:

www.arts.chula.ac.th/~ling/TNCII/x3.php?p=รู้&w2=แบบ&wl=0&wr=1

It will look for 2 words "รู้" and "แบบ" where the second word appear in a window-left=0, wind

[2017-07-04 02:02] rkcosmos commented on #10
http://rinuboney.github.io/2016/01/19/ladder-network.html

this link offer some explanations similar to what I drew.

[2017-07-04 04:44] rkcosmos commented on #10
I just uploaded new weight, @titipata pls run error analysis again with this new weight to see if there's any improvement on name entity.

[2017-07-04 05:13] titipata commented on #10
It works a lot better! I ran the script up there for error analysis for first 100,000 rows. Error reduce from 981 cases to 571 cases. Here is the [error file from the current weight](https://gist.github.com/titipata/8559beb27bcd8e2b8b363413c7b0aa41) and [the error file from new weight](https://gist.github.com/titipata/4b784b04edb217e00ddf7779ef2b5b45). I upload files with 2 columns one from BEST a

[2017-07-19 07:14] PhatSriwichai opened #13 "multi-thread"
deepcut รันแบบ multi thread ยังไงครับ

[2017-07-19 07:20] rkcosmos commented on #13
ยังไม่ support multi thread ครับ

[2017-07-20 01:11] #13 closed

[2017-07-22 18:51] earthy123 opened #14 "AttributeError: 'list' object has no attribute 'ravel'"
จะให้ตัดคำภาษาไทย 100,000 บรรทัด ครับแล้วขึ้นแบบนี้
Using TensorFlow `backend.`
Traceback (most recent call last):
  File "deepv1.py", line 64, in <module>
    x.append(deep(line))
  File "deepv1.py", line 24, in deep
    z =deepcut.tokenize(list)
  File "/home/essz/anaconda3/lib/python3.6/site-packages/deepcut/deepcut.py", line 45, in tokenize
    y_predict = (y_predict.ravel() > 0.5).astype(int)

[2017-07-23 02:48] rkcosmos commented on #14
What is type of your list variable in deepcut.tokenize(list)? Is it a string?

[2017-07-23 03:34] earthy123 commented on #14
I found the solution is my own mistake. Because  deepcut.tokenize get empty string (empty line) from txt file so it cause an error. Thank you for your response

[2017-07-23 03:34] #14 closed

[2017-08-05 16:57] sura1997 commented on #10
I'm sorry for the delay. My project is taking a bit longer. The new deadline is by the end of August. After that I will have time to contribute to this project.

[2017-08-06 12:45] rkcosmos commented on #10
@sura1997 It's ok. I have already done the preprocessing part. It's now training. I'll update the result to everyone once it's done.

[2017-09-11 15:52] titipata opened #18 "Adding document-term matrix to the library"
@rkcosmos, Can I add document-term matrix calculation to `deepcut` (similar to [`CountVectorizer`](http://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html) in scikit-learn but using deepcut to tokenize Thai words for a given documents)? I think this would be helpful for people who wants to use document-term matrix for topic modeling like [Latent Dirich

[2017-09-12 01:32] rkcosmos commented on #18
looking very nice, PR merged.

[2017-09-12 01:32] #18 closed

[2017-09-12 01:42] titipata commented on #18
@rkcosmos thanks krub! You might have to update for `pip` install a bit but no rush krub 👍

[2017-09-15 06:29] NititOrz opened #21 "About multiprocessing"
I tried using multiprocessing with asynchronous and it got infinity loop or something. Program is not processed. Here is sample

    from multiprocessing import Pool
    import deepcut as dc

    def f(text):
        return dc.tokenize(text)

    if __name__ == '__main__':
        texts = ["ง่ายๆแค่นี้เอง", "ลองใหม่สิ", "เอางี้นะ", "เอาอีกรอบหนึ่ง"]
        pool = Pool(processes=4)

        multip

[2017-09-17 23:13] titipata commented on #21
Hi @NititOrz, can you try following [this example from Stack Overflow](https://stackoverflow.com/questions/42504669/keras-tensorflow-and-multiprocessing-in-python)? I think you have to import `keras` for each workers in order to make it `multiprocessing`. Something as following would work.

[code]

PS. you can tag me next time too. I sometimes didn't check the library that often.

[2017-09-18 02:21] NititOrz commented on #21
@titipata Thank you.

[2017-09-18 02:21] #21 closed

[2017-10-03 11:11] iGodhand opened #22 "deepcut with user dictionary support ?"
Dear K.Rakpong krub,

May I have a suggestion about using deepcut with user dictionary support ?

According to your sample "โรงเรียน", there are many words which shouldn't be cut such as "ขี้เกียจ"

![d1](https://user-images.githubusercontent.com/15793866/31120823-11ef4c7a-a860-11e7-973c-b50973edd307.png)

And I have some specific word which I don't want deepcut to cut it such as "หูอื้อ" in middl

[2017-10-09 16:00] rkcosmos commented on #22
Hi Ping,

Adding # is a nice work around. I agree we should implement this feature properly as many people asked for it. I will take care of it soon in the next version.

[2017-10-09 16:00] #22 closed

[2017-10-14 10:38] rkcosmos commented on #10
After long procrastination, new weight is trained with around 2.2GB unlabeled text using semi-supervised learning, the performance is a little bit better in my local validation set. I also added custom_dictionary and upload everything to Pypi.

[2017-10-14 10:38] #10 closed

[2017-10-30 10:44] CoolDarran opened #23 "cut words one by one"
hi @rkcosmos

when I ran the example, I got the a different result.

[code]

I install deepcut by pip. Am I missing some configurations?

[2017-11-10 04:22] tienlemanh commented on #23
I have the same problem. @rkcosmos @titipata

[2017-11-10 05:22] titipata commented on #23
@tienlemanh, can you give more information about this (Python version/ tensorflow version)?  It seems like this is the problem with string type.

[2017-11-10 05:26] tienlemanh commented on #23
@titipata Python 2.7.9 tensorflow 1.2.1

[code]

[2017-11-10 06:28] tienlemanh commented on #23
@titipata
[code]

[2017-11-12 03:01] titipata commented on #23
@tienlemanh, @CoolDarran It seems to be problem with string encoding in Python 2. Basically, Python 2 cannot handle unicode well. When it reads dictionary or Thai text, it turns to non-unicode which messed up with the mapping character to index.

I still haven't found a way to fix it. If anyone can help, please keep me posted here!

[2017-11-12 03:48] tienlemanh commented on #23
@titipata I already fixed it. It works now. I changed code from str text to unicode text in everywhere. Should I create a pull request, then you can see?

[2017-11-12 03:49] titipata commented on #23
@tienlemanh, that's cool! Please send the PR!

[2017-11-13 02:01] titipata commented on #23
Closed by PR #24.

[2017-11-13 02:01] #23 closed

[2018-03-06 15:28] titipata opened #26 "Make custom dict as an argument instead of looking particular directory"
Probably we can change [this](https://github.com/rkcosmos/deepcut/blob/master/deepcut/deepcut.py#L313-L320) to format like

[code]

where default, we set it to `None`. It's going to be easier to add manual custom dictionary.

[2018-03-09 18:06] titipata commented on #26
This feature is only working when installing directly from Github right now:

[code]

We will update to `pip install` soon after code-review!

[2018-04-01 05:26] titipata opened #27 "Create web application for deepcut using KerasJS/TensorflowJS"
@kittinan, let's create `docs` folder to for hosting Tensorflow JS model and tiny application for testing the library. Can you also add the script to convert the model to Tensorflow JS so I can try it (thanks in advance krub!)?

[2018-04-01 05:33] titipata commented on #27
@bluenex if you have time to coordinate with @kittinan on this! I'll be working on it soon in the morning.

[2018-04-01 05:48] kittinan commented on #27
This tool from Tensorflow.js can convert tensorflow and keras model to tensorflow.js format

https://github.com/tensorflow/tfjs-converter

Example:
https://github.com/tensorflow/tfjs-examples

[2018-04-01 14:56] titipata commented on #27
[code]

[2018-04-01 14:56] kittinan commented on #27
- Tensorflow.js
![screenshot at 2018-04-01 21-33-47](https://user-images.githubusercontent.com/144775/38174439-342277e8-35f7-11e8-91bc-d2178dc2da5b.png)

- Keras.js
![screenshot at 2018-04-01 21-50-05](https://user-images.githubusercontent.com/144775/38174440-379f2358-35f7-11e8-88f7-6ba9cbc6a9c4.png)

:sob:  :sob:  :sob:

[2018-04-01 18:46] titipata commented on #27
@kittinan can you attach code snippet on how to convert keras model? Also, I simplify the feature generation code [here](https://github.com/rkcosmos/deepcut/commit/e2fbb7bc34b87a06d45fc422e709199260d419e7).

[2018-04-02 03:41] titipata commented on #27
So my attempt to run using `kerasjs` fails, it is related to this [issue](https://github.com/transcranial/keras-js/issues/110) and this [issue](https://github.com/transcranial/keras-js/issues/79).

To replicate the issue, first, we have to save the keras model (not just weights)

[code]

Simple script of `index.html` to run the web application:

[code]

run the code using `python -m http.server 80

[2018-04-02 04:11] titipata opened #28 "Zero padding problem: possible (0, 0) padding"
In [`model.py`](https://github.com/rkcosmos/deepcut/blob/e2fbb7bc34b87a06d45fc422e709199260d419e7/deepcut/model.py#L13), there is a case that padding can be `(0, 0)` which gives a problem when we want to convert to use in Tensorflow JS:

[code]

We probably have to modify the following:

[code]

[2018-04-02 17:25] titipata commented on #27
Javascript snippet to turn input `text` into `x_char` and `x_type` equivalent to `deepcut.utils.create_feature_array`

[code]

I'm not sure what's the function that works equivalent to `CHARS_MAP.get` in Javascript.

[2018-04-02 19:08] titipata opened #29 "Using batch generator instead of train all training set"
@kittinan, here is workaround script to train using `fit_generator` instead of `fit`. You can replace [lines 184-193 in `train.py`](https://github.com/rkcosmos/deepcut/blob/master/deepcut/train.py#L184-L193) to the following:

[code]

[2018-04-02 20:48] titipata commented on #27
**Output (in Javascript)**

Suppose we have

[code]
Here is the function to get the output tokenized text:

[code]

[2018-04-03 06:12] titipata commented on #27
@rkcosmos, Can you change the settings so that GitHub build Pages from `docs` folder krub? You have to go to `settings` > `GitHub Pages` > and change to `master branch docs/ folder` (very easy to do, takes 1 min!)

[2018-04-03 11:20] rkcosmos commented on #27
@titipata , master branch docs/ folder option is not clickable. Is it because we don't have /doc yet?

[2018-04-03 12:29] titipata commented on #27
@rkcosmos Just accepted Pull request krub! Now we have `docs` folder!

[2018-04-03 20:24] titipata commented on #27
@kittinan and @bluenex, Can we also add `clear` and `load sample text` like in https://transcranial.github.io/keras-js/#/imdb-bidirectional-lstm to the demo?

[2018-04-03 20:36] goiPP opened #32 "ValueError: Tensor is not an element of this graph."
I have used `deepcut.tokenize` as an analyzer in a `CountVectorizer` and it raises an error

[code]

So I don't know could this is the problem with `deepcut` using `keras` or not.??
reference issue -> https://github.com/keras-team/keras/issues/2397

[2018-04-03 20:40] titipata commented on #32
Oh, you cannot use `deepcut.tokenize` in `CountVectorizer`! It's a completely different `tokenizer` that scikit learn requires. So there are 2 ways to turn your text into bag-of-words format:

1) Use `DeepcutTokenizer`, see example in https://github.com/rkcosmos/deepcut/blob/master/deepcut/deepcut.py#L116-L120 (you can also use unigram/ bigram in this case).
2) You can `tokenize` text yourself and

[2018-04-03 21:46] titipata commented on #27
@kittinan, sometimes the tokenizer throws an error because of the unexpected characters and it stops translation e.g.

[code]

The tokenization stops after seeing `“` character. We have to check if the given character is in the key first before mapping to dictionary.

[2018-04-04 01:16] kittinan commented on #27
@titipata I fixed unexpected character in PR #33

[2018-04-04 17:01] titipata commented on #27
@rkcosmos Now we have docs folder! Let me know if you change the settings. The demo should be available on https://rkcosmos.github.io/deepcut/ right after.

[2018-04-06 13:29] rkcosmos commented on #27
@titipata  setting changed

[2018-04-06 13:32] rkcosmos commented on #27
btw, fantastic work I didn't know we can do segmentation in realtime, very fast!

[2018-04-06 13:36] rkcosmos commented on #26
Ops, I was absorbed into other works for a while, didn't notice this. Should we update the current version to pip?

[2018-04-06 14:52] tanlull opened #36 "install using Dockerfile has an error"
Step 9/11 : COPY keras.json /root/.keras/
COPY failed: stat /var/lib/docker/tmp/docker-builder400846702/keras.json: no such file or directory

[2018-04-06 15:59] titipata commented on #26
Yes please! Can you update the current version on `pip`? We can close the issue after.

[2018-04-09 03:07] #26 closed

[2018-04-11 02:00] chusri commented on #36
from the readme.md after cloning we have to create a keras.json at ~/.keras/keras.json.

<img width="946" alt="screenshot 2018-04-11 08 48 51" src="https://user-images.githubusercontent.com/2667287/38592297-80f46fde-3d65-11e8-9ff9-c0927f76a50a.png">

i think we have to create a keras.json in the same directory with Dockerfile before run

`docker build -t deepcut .`

[2018-04-14 08:52] goiPP commented on #32
Sorry, it turns out to be issue of my server instead.  And thanks for your blog suggestion.

[2018-04-14 08:52] #32 closed

[2018-07-14 05:51] huelee2020 opened #37 "Can I apply this software to Lao Language"
I am a Lao student studying in China, so I ahve an idea to use it for Lao Language, and will it work ? and wht is the first step for me?

[2018-07-15 13:28] rkcosmos commented on #37
Yes, the model can be applied to Lao. The first and probably hardest step is to find/create Lao corpus (similar to what I trained Thai model with this https://www.nectec.or.th/corpus/index.php?league=pm). Second step would be modifying CHAR_TYPE in utils.py with Lao alphabet. Third, prepare Lao corpus dataframe and train your model with train.py.

[2018-07-15 13:38] huelee2020 commented on #37
Yes I think it can apply. But I cannot download the Thai corpus in this
website. I registered in this website but it said error 405 or 406
something like this so I still cannot download the corpus and its manual
guide
Please help me. How to register and login to download your corpus and then
i will create Lao corpus txt file
but already have one corpus I will send it you check it for me that can u

[2018-07-18 07:37] rkcosmos commented on #37
Not sure about the link, but you don't actually need Thai corpus. The corpus is just a normal txt file with Thai text with "|" symbol act as separator between words. You can send your corpus to my email rkcosmos (at) gmail.com.

[2018-08-23 09:13] CherryChann opened #38 "DeepCut Tokenize Error"
I have a problem concerned with using deepcut.tokenize. It is fine if i use outside of my project but i need to use deepcut.tokenize before starting my application. if not i got that error, "ValueError: Tensor Tensor("dense_14/Sigmoid:0", shape=(?, 1), dtype=float32) is not an element of this graph". I m using deepCut: version 0.6.0.0, tensorflow: version 1.10.0.

[2018-09-03 04:22] sompob-ch opened #39 "How to using custom_dict ?"
i'm so sorry, i'm not good in english. i have question about custom_dict.
this example python test deepcut.
![screen shot 2561-09-03 at 10 55 53](https://user-images.githubusercontent.com/37973522/44966877-0202d600-af68-11e8-8d37-6c1d178a4713.png)

i not understand result in test_deepcut_custom_dict_B.
how is the process to logically make the deepcut by custom_dict ?

thank you.

[2018-09-03 14:23] titipata commented on #39
I don't quite understand your question. It seems like you know how to use custom dictionary. Can you tell more about specific question that you have?

[2018-09-04 03:09] sompob-ch commented on #39
how i can use Longest Matching in custom dictionary ?

[2018-09-09 19:11] titipata commented on #39
@sompob-ch Basically, the `custom_dict` will wrap text together from the first one to the last one. It would like most sense to have the longest word at the end. Here is an example:

[code]

[2018-09-10 07:14] Zylinks opened #40 "Can't use tokenizer.fit_tranform"
i copy example and paste it into VSCode but Error

[code]

![screenshot from 2018-09-10 00-08-38](https://user-images.githubusercontent.com/31320324/45281969-69e87d80-b48e-11e8-8708-fff0fa5ee2e0.png)
![screenshot from 2018-09-10 00-10-59](https://user-images.githubusercontent.com/31320324/45282000-84baf200-b48e-11e8-8d87-cc11c420e559.png)

[2018-09-10 16:56] titipata commented on #40
Hi @Zylinks, you probably have the older version of `deepcut`. You can install `deepcut` from master branch by using `pip install git+git://github.com/rkcosmos/deepcut.git`. This should solve the issue here.

The recent `deepcut` uses `if len(kept_indices) == 0:` instead of `if not kept_indices` (see [here](https://github.com/rkcosmos/deepcut/blob/master/deepcut/deepcut.py#L214)).

[2018-09-11 03:02] Zylinks commented on #40
Thx so much

[2018-09-11 03:02] #40 closed

[2018-09-20 11:22] nawaphonOHM opened #41 "custom_dict parameter didn't work on custom dictionary?"
I have created custom dictionary text-file named "test.txt" and placed test.txt's directory as a parameter of `custom_dict`. The result didn't work whereas the function returned a result same as `custom_dict` default value instead. How can I fix it?
It should work as ['วิชา', 'การเขียนโปรแกรม', 'มี', 'ใคร', 'สอน', 'บ้าง']

![image](https://user-images.githubusercontent.com/22292305/45814730-b21266

[2018-10-01 08:33] Zylinks opened #42 "I have a few question about DeepcutTokenizer"
CountVectorier have methods transform but DeepcutTokenizer don't have this methods.
in the future deepcut will implement this methods or not.
because i have to change CountVectorier to DeepTokenizer.
because it have to transform test data before predict.
// I am not good with English grammar. if you not understand i can explain in Thai lang thx
![42943831_332569077309557_2723233342697766912_n](htt

[2018-10-01 19:56] titipata commented on #42
Hi @Zylinks, Iet's say `['ฉันบินได้', 'ฉันกินข้าว', 'ฉันอยากบิน']` is your training set and  `['ฉันหิว', 'เขาไม่มี']` is your validation set. You can use `DeepcutTokenizer` like the following:

[code]

If you see the vocabulary, it will look something like:

[code]

Then, when you apply on the validation dataset, you will see that we will have `0` for the second row since words in `เขาไม่มี` does

[2018-10-01 21:29] titipata commented on #41
This works for me:

[code]

You put `การเขียนโปรแกรมคอมพิวเตอร์` in a `custom_dict.txt` which does not exist in a given text.

[2018-10-01 21:29] #41 closed

[2018-10-01 21:30] titipata commented on #38
@CherryChann, did you solve this problem? I cannot reproduce the error that you got. It would be great if I can have more details.

[2018-10-03 08:26] Zylinks commented on #42
Thank you

[2018-10-04 03:14] Zylinks opened #44 "Performance of DeepcutTokenizer"
Why Performance of DeepcutTokenizer is slow more than Countvectorizer.
In case of Countvertorizer fit_transform 1000 sentense about 2-3 sec
but In deeptokenizer fit_tranform using same data set about 5 min with same env.

[2018-10-04 04:46] titipata commented on #44
Yes, because we have to use deepcut to tokenize Thai text, not just splitting words like in English. If you have English text, use CountVectorizer instead.

[2018-10-04 05:21] CherryChann commented on #38
@titipata I have called deepcut.tokenize before starting app.
Before calling deepcut.tokenize, I need to call this method with another word. For example:
"import deepcut
print(deepcut.tokenize('ตัดคำได้ดีมาก'))
deepcut.tokenize('ตัดคำไ')"

But i think this is not
a correct solution. Also right now I m having a problem for deepcut.tokenize.
I got this error :

" ValueError: Tensor Tensor("dense_14/

[2018-10-04 06:22] Zylinks commented on #44
OK i use to tokenize thai text, i will still use deepcut.
if i run process with GPU it's better or not.
thank you.
// sorry for ask to many question. I just learn ML a few month

[2018-10-04 06:27] titipata commented on #44
CPU is fine. You can tweak the for loop (in DeepcutTokenizer) to use multiple processing to make it faster.

[2018-10-04 06:29] Zylinks commented on #44
Thank you so much

[2018-10-04 06:29] #44 closed

[2018-10-04 09:33] Zylinks opened #45 "Pickle can't save ``DeepcutTokenizer``"
I try to save `DeepcutTokenizer` with `pickle` but got the following error
![image](https://user-images.githubusercontent.com/31320324/46465502-f9b1eb00-c7f2-11e8-8ab0-148d2bcfb5d8.png)
![image](https://user-images.githubusercontent.com/31320324/46465519-06364380-c7f3-11e8-8c1e-50f6c557d9bf.png)

[2018-10-04 09:40] Zylinks commented on #45
But i save CountVectorizer is fine
![image](https://user-images.githubusercontent.com/31320324/46465897-16025780-c7f4-11e8-863f-e1d7ecc24cfd.png)
![image](https://user-images.githubusercontent.com/31320324/46465904-1ac70b80-c7f4-11e8-9851-eae2b0405774.png)

[2018-10-09 08:29] #37 closed

[2018-10-09 08:30] #27 closed

[2018-10-19 11:13] elcolie opened #46 "Document is outdated"
[code]

[code]

deepcut==0.6.1.0
Python3.6.6

[2019-04-30 10:26] kittipongint opened #47 "The URL of the public signing key has changed"
In the Dockerfile we are still using old public signing key of alpine. please change from

to

[2019-04-30 10:47] kittinan commented on #47
@kittipongint I created pull request #48 just wait for maintainer merge it.

[2019-04-30 12:46] #47 closed

[2019-05-07 14:46] MissSoYa opened #49 "Could you explain how to use stopword?"
Hello Deepcut team,
I would like to manually custom the stop word. Please let me know how.

Thank you :)

[2019-05-07 15:56] titipata commented on #49
Hello @MissSoYa, we do have the custom stop words in `DeepcutTokenizer` but not currently in `deepcut.tokenize` itself. However, for `deepcut.tokenize`, you can manually do that by using for loop to remove the stop words

[code]

For `DeepcutTokenizer`, adding stop words can be done as follows

[code]

[2019-05-09 16:40] MissSoYa commented on #49
👍 Thank you  but DeepcutTokenizer is not work.

[2019-05-09 17:21] titipata commented on #49
Can you give a little more details and example why it doesn't work?

[2019-05-27 18:32] heytitle opened #51 "Visualisation of DeepCut's architecture"
Hi,

I'm currently trying to understand how DeepCut actually works in terms of computation. So, I've made this visualisation see how DeepCut's computational graph is constructed.

![deepcut-architecture](https://user-images.githubusercontent.com/1214890/58434932-5185c500-80e8-11e9-9bd9-54ae194fc2cf.png)

Could you please confirm me whether the visualisation is correct?

[2019-05-28 03:40] rkcosmos commented on #51
Yes, it looks alright! Do you mind if I put this picture in project's readme file?

[2019-05-28 05:51] p16i commented on #51
@rkcosmos yep, I don't mind if you want to put the picture in the README. I'll let you know when I have the final version.

There are a couple of details that I would like to include in this image. Such details are:
- no. of weights in each layers

Feel free if you want to have any additional details in the figure.

[2019-05-28 05:59] kittinan commented on #51
@heytitle How you generate this image visualization?

[2019-05-28 06:00] titipata commented on #51
+1 for putting the model architecture in the README krub! Maybe just add a little section on how it works :)

[2019-05-28 06:15] p16i commented on #51
Hi all,

Thanks for the input.

I manually draw it in Sketch.

Because the figure is quite large, having it in the README would burden the content. I would suggest host the figure somewhere and just add a link inside README.

[2019-05-28 08:34] p16i commented on #51
![deepcut-architecture](https://user-images.githubusercontent.com/1214890/58486992-14c1d880-8191-11e9-9122-8385750e06bd.png)

I've transposed the figure and it now consumes only a small vertical portion of the README. Let me know if there is anything that you want me to adjust. Otherwise, I would say this is the final version.
cc: @rkcosmos @kittinan @titipata

[2019-05-28 15:00] #51 closed

[2019-05-30 07:20] heytitle opened #53 "DeepCut on GPU is slower than on CPU."
Hi,

While working on https://github.com/heytitle/thai-tokenisers/issues/1#issuecomment-497231701, I've found that Running DeepCut on GPU is slightly slower than running it on CPU. This is a bit counterintuitive and I'm trying to find the reason for that.

Do you have an idea why this is the case?

Link to the benchmark code: https://colab.research.google.com/drive/1SuNYLiwEkOln_WGP_BekumGP4CxRm9r

[2019-06-12 08:53] lili1234567890 opened #54 "Could you please give me some data or just a few lines of data format?"

[2019-07-18 09:18] heytitle opened #55 "Digital Object Identifier for DeepCut"
Hi,

It would be great if DeepCut has its own DOI for academic references. You can achieve this persistent reference by using [Zenodo][ss], recommended by GitHub.

[ss]: https://help.github.com/en/articles/referencing-and-citing-content

[2019-07-18 17:46] titipata commented on #55
Yes, that would be great @heytitle. I don't have permission to do it here. I cc'ed @rkcosmos who can do it.

[2019-07-18 17:46] titipata commented on #55
Yes, that would be great @heytitle. I don't have permission to do it here. I cc'ed @rkcosmos who can do it.

[2019-07-26 04:53] heytitle opened #56 "Pruning model"
Hi,

I've made some analysis, investigating whether some layers in DeepCut are redundant.  There are some big layers that we can remove while DeepCut's tokenization performance drops slightly.

Having this result, you might consider pruning or doing quantisation to the model. As a result, DeepCut will become smaller and (hopefully) faster.

Please find more information in [this notebook][colab].

[2019-07-28 20:58] titipata commented on #56
Nice one! I think it looks really good. Do you want to make the PR and potentially the trained model to the repository? However, we might have to change the structure of the library a bit from `import deepcut; deepcut.tokenize(...)` so that we allow a user to import different (shrink) version of the model.

P.S. We also have the version training using MobileNet available here: https://rkcosmos.git

[2019-07-29 05:58] p16i commented on #56
Hi,

Thanks for the comment.  I personally think th shrieked model would run faster than the original one but not much. Actually, I think the majority component that significantly drags DeepCut's performance is the way input features are prepared.  According to https://github.com/rkcosmos/deepcut/blob/master/deepcut/train.py#L107, the implementation transposes the sequence of characters in each li

[2019-07-29 17:01] titipata commented on #56
@heytitle totally agree on this. The training part can be much much faster without transforming to a dataframe. However, in the prediction part, we have [this function](https://github.com/rkcosmos/deepcut/blob/master/deepcut/utils.py#L55-L74) to transform input text to features. For the text with small/medium length, it seems to work perfectly fine.

The bottleneck is probably really coming from t

[2019-08-04 08:50] p16i commented on #56
Hi,

I won't be able to make a PR for fixing this issue. However, Hacktoberfest 2020 is coming in October. Maybe we can create an issue and possibly tag it with a theme tag, i.e. `hacktoberfest`?

[2019-09-17 19:10] titipata opened #57 "vocabulary set to empty during tranform method in DeepcutTokenizer"
Somehow after transforming the document using

[code]

The `tokenizer.vocabulary_` is set to empty. It might be an error in the `transform` method where we accidentally set the vocabulary to empty.

[2019-09-17 20:56] #57 closed

[2019-09-22 10:10] p16i commented on #55
hi, any thoughts on this issue?

[2019-09-23 03:27] titipata commented on #55
@rkcosmos, just following up with @heytitle post, Can we put the latest version of `deepcut` and assign DOI from Zenodo to the repository? I don't have a permission to do it krub.

[2019-09-23 06:17] p16i commented on #55
Here are more or less what you have to do:
1. Enable your repository on Zenodo.
2. Create a release on Github

[2019-09-23 06:23] rkcosmos commented on #55
done, thanks for reminding me.

[2019-09-23 06:24] #55 closed

[2019-09-23 07:00] p16i commented on #55
@rkcosmos  you might want to update citation details as well:

https://zenodo.org/record/3457707#.XYhtQS2Q3OQ

[2019-09-23 14:53] titipata commented on #54
@lili1234567890, it basically receives `str` as an input. Can you give a more clear explanation of what you want?

[2019-09-23 14:57] titipata commented on #55
thanks krub, @rkcosmos! @heytitle not sure how would you like to do that for the citation details?

[2019-09-23 15:35] p16i commented on #55
Well, currently it looks like this:
[code]

IMHO, these are  issues that should be addressed:
1. My name (Pattarawat Chormai) shouldn't be there. I didn't contribute to the main part of the development.
2. `bact` should be a full name of @bact.
3. `rkcosmos/deepcut: deepcut v1.0 (Version v1.0)` should be changed. My suggestion would be `DeepCut: A Thai word tokenization library using Deep Neural N

[2019-09-23 15:42] titipata commented on #55
thanks @heytitle! @rkcosmos can you fix the citation to the following:

[code]

I will fix the `README` so that people can use it for referencing the library.

[2019-09-23 16:20] p16i commented on #55
It would be good if we could fix it on Zonedo as well because people might want to copy the bibtex from there.

[2019-09-25 03:48] rkcosmos commented on #55
Done

[2019-10-10 10:23] oleang opened #58 "DeepCut with TF2?"
Can the DeepCut now work with TensorFlow 2?

[2019-10-22 04:22] comdevx opened #60 "มันไม่ตัดครับ"
![Screen Shot 2562-10-22 at 11 18 51](https://user-images.githubusercontent.com/8242229/67259075-331ccd80-f4be-11e9-8220-05790c5fcbf8.png)

[2019-10-22 13:04] titipata commented on #58
We haven't re-trained model in TF2 yet. I'll see if anyone can make it available soon.

[2019-10-22 13:06] titipata commented on #60
โมเดลใน DeepcutJS จะต่างจากใน Deepcut จริงๆอยู่เล็กน้อยครับ (ขนาดเล็กกว่าเพื่อให้โหลดไปบน browser ได้) เลยยังตัดคำได้ไม่ดีเท่า Deepcut ครับ

[2019-10-22 19:47] titipata commented on #60
Here I attach the output from `deepcut`

[code]

[2019-10-24 06:01] comdevx commented on #60
ผมว่า โอ้ กับ โห ต้องแยกกันนะครับ

[2019-10-31 18:00] wanitchayap opened #61 "Questions about access to BEST corpus for class project on deepcut"
Hi! I am a master's student in Computational Social Science at UChicago. I am taking a computational linguistic class here with [Allyson Ettinger](https://aetting.github.io/), and I have to conduct a final project. I am very interested in Thai text tokenization, and I am planning to use `deepcut` as my starting point for my final project. I am at a very amateur level in the field of computational

[2019-11-01 05:10] titipata commented on #61
Hi @wanitchayap, I think the BEST corpus can be downloaded [here](https://www.nectec.or.th/corpus/index.php?league=pm). You should also check out [attacut](https://github.com/PyThaiNLP/attacut) which is a trimmed version of `deepcut`. It also provides test comparisons such as speed, model size, etc. etc.

[2019-11-01 14:38] wanitchayap commented on #61
@titipata Thank you so much!

[2019-11-01 15:41] #60 closed

[2019-11-01 15:43] titipata commented on #46
@elcolie really sorry, I just get back to this issue. I updated the code a while ago and now the `DeepcutTokenizer` should work perfectly fine.

[2019-11-01 16:33] #46 closed

[2019-11-01 16:34] titipata commented on #36
I suppose #50 solved this issue. Let me know if there is a problem, we can reopen this issue.

[2019-11-01 16:34] #36 closed

[2019-11-05 22:44] titipata commented on #58
@kittinan, @heytitle, @rkcosmos Should we refactor the code so that it works with recent `TensorFlow ` 2.0?

[2019-11-06 01:23] kittinan commented on #58
The solution may be on this issue https://github.com/keras-team/keras/issues/12379#issuecomment-471339468

Error log Deepcut Tensorflow 2.0 Colab

[code]

[2019-11-06 01:30] rkcosmos commented on #58
I guess it is time for an update. I will try to look into it today.

[2019-11-06 05:16] rkcosmos commented on #58
fixed with #63

[2019-11-06 05:16] #58 closed

[2019-11-06 05:34] #54 closed

[2019-11-06 06:03] titipata commented on #61
@wanitchayap I will close this issue. If you have extra questions or want to follow up with this question, please feel free to reopen it.

[2019-11-06 06:03] #61 closed

[2019-11-06 06:04] titipata commented on #39
@sompob-ch I hope the answer above solves your question. If not, please let me know.

[2019-11-06 06:04] #39 closed

[2019-11-06 06:05] titipata commented on #49
@MissSoYa if you re-install `deepcut` via the repository with proper dependencies, `DeepcutTokenizer ` should work properly now. I will close the issue for now.

[2019-11-06 06:05] #49 closed

[2019-11-06 18:03] titipata commented on #38
@CherryChann I'll close this issue for now as we move to version `0.7.0`. Let me know if the current version of the deepcut `0.7.0` works for you.

[2019-11-06 18:03] #38 closed

[2019-11-06 18:06] titipata commented on #45
@Zylinks, I'm not sure if this issue is resolved. Can you try the solution from the following stack overflow post if it works: https://stackoverflow.com/questions/30843011/save-and-reuse-tfidfvectorizer-in-scikit-learn?

[2019-11-06 19:27] #45 closed

[2019-11-06 19:32] titipata commented on #45
@Zylinks I added documentation on how to load and save `DeepcutTokenizer` via 40adc26. You can find the instruction in `README`. Let me know if you can successfully save/load it :)

[2019-11-06 19:34] titipata commented on #28
I'll mark this as `wontfix`. If we come across this issue, we can reopen it.

[2019-11-06 19:34] #28 closed

[2019-11-06 19:36] titipata commented on #29
@kittinan I guess this is an enhancement but we won't do it now. We can refactor the code once we retrain the model. I'll just close this issue due to inactivity.

[2019-11-06 19:36] #29 closed

[2019-11-06 19:40] titipata commented on #56
@heytitle, should I refer this issue to an analysis provided in [attacut](https://github.com/PyThaiNLP/attacut)? Maybe you can update the documentation on `deepcut` performance and size of the model etc. etc.

[2019-11-07 02:14] kittinan opened #64 "Upgrade Dockerfile to Tensorflow 2.0"
Need help to upgrade Dockerfile to Tensorflow 2.0

[2019-11-07 02:19] titipata commented on #64
tagging @chanwit and @heytitle to help on this issue

[2019-11-07 02:23] chanwit commented on #64
I'll take a look

[2019-11-07 02:39] titipata commented on #64
@chanwit can we also do `pip install git+git://github.com/rkcosmos/deepcut.git` so that it's always up-to-date?

[2019-11-07 03:00] chanwit commented on #64
yep, that's a good idea

[2019-11-07 03:05] titipata commented on #64
perfect, thanks @chanwit!

[2019-11-07 03:23] titipata commented on #56
Can we run the notebook provided above to see the performance of `deepcut 0.7.0` (on TensorFlow 2.0)? @kittinan

[2019-11-12 13:17] #64 closed

[2020-01-29 10:55] rkcosmos commented on #53
Probably because most of the resource is wasted in preprocessing data.

[2020-02-22 21:05] pcolagrosso opened #66 "New installation of latest release fails (via pip)"
sudo python3.6 -m pip install deepcut
WARNING: Running pip install with root privileges is generally not a good idea. Try `__main__.py install --user` instead.
Collecting deepcut
  Using cached https://files.pythonhosted.org/packages/ef/f3/ecda1d7dc51da0689b2df3d002541d0d04ac4db02c5d148eca48c8e3d219/deepcut-0.7.0.0-py3-none-any.whl
Requirement already satisfied: h5py in /usr/local/lib64/python3.6/

[2020-02-25 06:08] rkcosmos commented on #66
Can you try normal pip install without using cached?

[2020-02-25 07:30] pcolagrosso commented on #66
Thanks for your message.  You would like me to run pip with the "--no-cache-dir" option , correct?

[2020-02-25 08:52] rkcosmos commented on #66
yes, try that.

[2020-02-25 11:25] pcolagrosso commented on #66
I tried that and I am still getting an error message.

[piero@piero repo]$ sudo python3.6 -m pip --no-cache-dir install deepcut
[sudo] password for piero:
WARNING: Running pip install with root privileges is generally not a good idea. Try `__main__.py install --user` instead.
Collecting deepcut
  Downloading https://files.pythonhosted.org/packages/ef/f3/ecda1d7dc51da0689b2df3d002541d0d04ac4db02c5d

[2020-02-25 11:25] pcolagrosso commented on #66
Thanks for your help.

[2020-02-26 09:00] rkcosmos commented on #66
not sure what is going on. Try pip install tensorflow==2.0 first and then pip install deepcut.

[2020-03-16 07:47] #66 closed

[2020-03-16 07:47] #53 closed

[2020-03-19 10:58] rkcosmos commented on #56
I'll just close this one but I will keep performance/speed issue in the back of my head.

[2020-03-19 10:58] #56 closed

[2020-12-21 20:20] taddy35 opened #68 "Problem with 'save_model' attribute"
Firstly, I appreciate your work that is really useful. It is not difficult to set up. However, I found an issue while running at JupyterNotebook. You can see below the typed codes then following by error messages.

from deepcut import DeepcutTokenizer
tokenizer = DeepcutTokenizer(ngram_range=(1,1),
                            max_df = 1.0, min_df=0.0)
X = tokenizer.fit_tranform(['ฉันบินได้','ฉันกิ

[2020-12-31 02:38] charlesfufu opened #69 "eval data"
Can you provide some Thai segment data for training model or evaluating model?

[2020-12-31 02:42] titipata commented on #69
You can see this issue for downloading the BEST2010 dataset from NECTEC Thailand:  https://github.com/PyThaiNLP/pythainlp/issues/430

[2021-01-08 08:08] #69 closed

[2021-08-31 11:00] eladbitton opened #70 "Getting the indices of the words"
I want to use the library and get indices instead of the word.

For example:
a list that tells me where is the start and end of each word in the input string - [(0,2), (2,5), (6,8)]

Is there a way to do that?

[2021-08-31 11:09] titipata commented on #70
Hi @eladbitton, short answer here: so the actual task of Deepcut is to predict if the character is the beginning of the word or not. You can take this line https://github.com/rkcosmos/deepcut/blob/master/deepcut/deepcut.py#L315  as an output to get the following start,end of each word as you wanted.

[2021-08-31 11:30] titipata commented on #70
Here is how you can do it using `deepcut`:

[code]

You will get the following output:

[code]

[2021-08-31 11:38] eladbitton commented on #70
Amazing thank you!

[2021-08-31 11:48] titipata commented on #70
@eladbitton sounds great. Let me know if it works for you!

[2021-09-28 08:57] sahussawud commented on #68
I found this problem too incidentally. checking Deepcut installed version in your environments.

[2021-09-28 09:07] sahussawud opened #71 "After loaded a saved model, DeepcutTokenizer not found function "todense()""
environments
- deepcut==0.7.0
- python3.7
- collab notebook

saving part
[code]
load part

[code]
error found

[code]

[2021-11-07 11:19] watkru opened #72 "Problems with numbers"
Numbers with comma are tokenized separately by comma, for example, 2,000 is tokenized as '2', ',' and '000'

[2021-12-23 02:51] venzen opened #73 "Custom words dictionary"
Thank you for this good work. I have two questions about using this tool. First let me briefly explain my use case:

I am translating Buddhist texts from Thai to English for the Mahachulalangkornraachawitayaalay (MCU). The source material is images, so I must first do OCR (with `tesseract`) and then edit to markdown format. After that I can translate to English using Google Translate. During OCR s

[2021-12-23 02:56] titipata commented on #73
Hi @venzen I can confirm that deepcut cannot do the text correction or spelling correction. You may have to create a function (after OCR) to deal with these corrections before performing the tokenization.

For the second question, I think deepcut should generalized enough to parse new unseen words. However, you can put list of words in the dictionary to cover some cases that you think that it may

[2021-12-23 02:59] titipata commented on #73
There was a paper for spelling correction by Ekapol and team which may help you quite a bit: https://ieeexplore.ieee.org/document/9145483. I'm not sure if they provide open-source implementation somewhere.

[2021-12-23 09:48] venzen commented on #73
@titipata Thank you for your response. I started implementing word similarity checking before I saw your reply. Can use `difftool.SequenceMatcher()` with a text file of Thai words and find correct spellings.

As you recommend, I then add new words to this file and add it as a  `deepcut` custom dictionary. For example deepcut was tokenizing 'ความนํา' as ['ความ', 'นํา'] and after adding the word to

[2021-12-24 10:27] venzen commented on #73
Unexpected behavior from `deepcut`: I am passing a custom dictionary that contains both the words 'หรือ' and 'อิริยาบถ'. Each word is a separate entry on its own line and without whitespace. There is a newline ('\n') after each entry. So we would expect `deepcut` will tokenize each word, correct?

The string is: `หรืออิริยาบถน้อย มีคู้เข้า เหยียดออก....`

`deepcut` fails to segment and returns a s

[2022-01-16 11:34] venzen commented on #73
The issue was that the custom dictionary contained duplicate words (words also present in the deepcut dictionary). When I made a new blank custom dictionary deepcut works as expected.